* { box-sizing: border-box;}

body{
font-family:"Open Sans",sans-serif;
font-weight: 300;
margin: 0;
}

.welcometext {
position:absolute;
top:50%;
left:50%;
transform: translate(-50%, -50%);
}
.welcometext p{
  color: #707070;
font-size: 2em;
text-align: center;
font-weight: 500;
}

.fondomenu{
background: url('recursos/fondomenu1.jpg');
-webkit-background-size: auto;
-moz-background-size: auto;
-o-background-size: auto;
background-size: auto;
}

@media screen and (min-width: 720px){
  .fondomenu{
    background-size: cover;
  }
}

.oscurecerbg{
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  left: 0px;
  top: 0px;
}

a{
text-decoration: none;
color: #FFB545;}

a:active {
  transform: scale(0.9);
}

.topnav{
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
justify-content: space-between;
margin: 0;
align-items: center;
position: fixed;
top: 0;
background-color: white;
width: 100%;
box-shadow: 0px -12px 15px;
}

.topnav a{
color: #FFB545;
font-family: Montserrat;
font-weight: bold;
font-size: 14px;
margin: 10px 15px;
}

.topnav a:visited {
  color: #FFB545;
}

.topnav a:hover{
  color: #E08C0E;
}

.topnav a:active{
  transform: scale(.8);
}
.idiomas:hover {
padding-bottom: 3px;
border-bottom: 4px solid #FFB545;  
}

.idiomas a:active {
  border-bottom: 2px solid;
  color: #FFB545; 
}

.menuicon {
width:20px;
fill:#FFB545;}

.menuicon:hover{
fill: #E08C0E;
}

.menuicon:active{
transform: scale(.5); 

}
.idiomas{
margin-left: 5px;
margin-right: 5px;
}
.ajustando{
left: 50%;position: absolute;transform: translateX(-50%);}

}
#firstdiv {
font-family: Montserrat;
font-weight: bold;
text-align: justify;
width: 60%;
margin-left: 10px;
}

.divmenu {
position:absolute;
top:50%;
left:50%;
transform: translate(-50%, -50%);
font-family: Montserrat;
font-weight: bold;
}
.divmenu a:hover{
  font-size: 20px;
}
.texto1 {
margin-top: 5px;
margin-bottom: 5px;
color: #FFB545;
font-size: 2em;
text-align: center;
transition-property: scale;
transition-timing-function: ease-in;
}

.texto1:hover{
    font-size: 2.3em;
  }
@media screen and (min-width: 720px){
  .texto1{
    font-size: 2.5em;
  }
  .texto1:hover{
    font-size: 2.8em;
    transform: scale(1.2);
  }
  .texto1:active{
    transform: scale(.6);
    transition-timing-function: ease-in;
  }
}

.cuerpodetexto{
  font-family: Montserrat;
  font-size: 16px;

}

.seconddiv {
	width: 35%;
	align-items: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap}

hr{
border: 1px solid #FFB545;
}

.footer {
  position: absolute;
  bottom: 10px;
  left: 0px;
  right: 0px;
  width: 100%;
  margin-right: 0px;
  display:flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
  fill: #707070;
  color:#707070;
}

.socialmedia {
margin-left: 5px;
margin-right: 5px;
display: flex;
flex-direction: row;
}
.sm{
 margin-right: 5px;
 width:25px;
}
.contacto{
display:flex;}
.contacto a:hover{
padding-bottom: 3px;
border-bottom: 2px solid #707070;
}
.footer a:hover{
	transform: scale(2);
  margin-left: 12px;
  margin-right: 12px;
}

#abouttext {
	font-weight: normal;
	color: #707070;
	font-size: 15px;
}
.fotosabout{
width: 80%;
}

.fillgrey{
	fill: #707070;
	color:#707070;
}
.fillyellow{
	fill: #FFB545;
	color: #FFB545;
}

.contenedorabout{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.distancia{
  position: unset;
}
.container-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(350px,3fr));
  grid-row-gap: 20px;
  grid-column-gap:auto-fit;
  justify-items: center;
  margin-top: 5%;
  margin-bottom: 2%;
}
.tarjeta{
  height: 450px;
  width: 350px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  background-position: top right;
  transition: 2s background-position cubic-bezier(.22,.61,.36,1);
}

.tarjeta:hover {
  position: relative;
  top: -30px;
}
.arriba{
  width: 100%;
  height: 400px;
  background-position: top right;
  transition: 2s background-position cubic-bezier(.22,.61,.36,1);
  max-height: 300px;
  border-radius: 20px;
}

.arriba:hover{
  cursor: pointer;
  /*box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);*/
  /*filter: sepia(.2);*/
  position: relative;
  top: -30px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}

.arriba:hover:after{
  /*content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #000;
  position: absolute;
  bottom: -20px;
  border-radius: 50%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  opacity: 0.5;*/
}
.abajo{
  width: 100%;
  height: 50px;
  color: #616161;
  font-size: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin: 15px 0;
}
.abajo:hover{
  border: 2px solid;
  border-radius: 15px;
}

#gaydarui{
  background-image: url(recursos/thumbnailgaydarui.jpg);
  background-size: cover;
}
#abbeautyui{
  background-image: url(recursos/abthumbnail.jpg);
  background-size: cover;
}
#zombeepui{
  background-image: url(recursos/thumbnailzombeep.jpg);
  background-size: cover;
}
#eduidaui{
  background-image: url(recursos/thumbnaileduida.jpg);
  background-size: cover;
}
#gaydarvideo{
  background-image: url(recursos/thumbnailgaydarad.jpg);
  background-size: cover;
}
#homeorchestravideo{
  background-image: url(recursos/thumbnailho.jpg);
  background-size: cover;
}
#motionsocialmediavideo{
  background-image: url(recursos/thumbnailmgsm.jpg);
  background-size: cover;
}
#smadsvideo{
  background-image: url(recursos/thumbnailvideossm.jpg);
  background-size: cover;
}
#christmasoutrovideo{
  background-image: url(recursos/thumbnailsanta.jpg);
  background-size: cover;
}
#lovespiritvideo{
  background-image: url(recursos/thumbnaillovespirit.jpg);
  background-size: cover;
}
#nothingspecialad{
  background-image: url(recursos/thumbnailnothingspecial.jpg);
  background-size: cover;
}
#cuatrovientosad{
  background-image: url(recursos/thumbnail4vientos.jpg);
  background-size: cover;
}
#nueveoctubread{
  background-image: url(recursos/thumbnail9octubre.jpg);
  background-size: cover;
}
#robots{
  background-image: url(recursos/thumbnailrobots.jpg);
  background-size: cover;
}
#spainpunk{
  background-image: url(recursos/thumbnailspainpunk.jpg);
  background-size: cover;
}
#uniimposibles{
  background-image: url(recursos/thumbnailuniimposible.jpg);
  background-size: cover;
}
#hotmalelogo{
  background-image: url(recursos/thumbnailhotmale.jpg);
  background-size: cover;
}
#gspotlogo{
  background-image: url(recursos/Thumbnailgspot.jpg);
  background-size: cover;
}
#gaydarhotspotlogo{
  background-image: url(recursos/Thumbnailgaydarhotspot.jpg);
  background-size: cover;
}
#pabloeliceslogo{
  background-image: url(recursos/thumbnailpabloelices.jpg);
  background-size: cover;
}
#catedravectalialogo{
  background-image: url(recursos/thumbnailcatedra.jpg);
  background-size: cover;
}
#alicanteprint{
  background-image: url(recursos/thumbnailalicanteprints.jpg);
  background-size: cover;
}
#recetasprint{
  background-image: url(recursos/thumbnailrecetas.jpg);
  background-size: cover;
}
#popupbookprint{
  background-image: url(recursos/thumbnailbook.jpg);
  background-size: cover;
}
#vinoprint{
  background-image: url(recursos/thumbnailbotellas.jpg);
  background-size: cover;
}
#cdprint{
  background-image: url(recursos/thumbnailcd.jpg);
  background-size: cover;
}

.sectiontitle{
  text-align: center;
  margin-top: 5%;
  font-size: 24px;
  font-weight: bold;
}
.contenedorproyecto{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: justify;
  margin-bottom: 50px;
  font-family: Montserrat;
  font-weight: 400;
  font-optical-sizing: 1px;
  line-height: 1.6;
}
.contenidoproyecto{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: auto;
}

.videoproyecto{
  display: flex;
  width: 80%;
  justify-content: center;
  flex-wrap: wrap;
}
.videoproyecto img{
  margin: 5px;
}
@media screen and (min-width: 720px){
  .videoproyecto img{
    width: 400px;
}

}
.resaltarimagen{
  box-shadow: 0 5px 15px gray;
}
.contenidoproyecto2{
  display: flex;
  width: 80%;
  justify-content: center;
  flex-wrap: wrap;
}
.lunares{
  background: url(recursos/lunaresfondo.png);
  position: absolute;
  z-index: -5;
  opacity: 30%;
  width: 400px;
  height: 400px;
  background-size: 80%;
  background-repeat: no-repeat;
  top: 120%;
  right: 15%;
}

h4{
  font-weight: 500;
  font-size: 14px;
  color: #808080a8;
}
.topnav h4 a{
  font-weight: 500;
font-size: 14px;
padding-bottom: 3px;
border-bottom: 2px solid;
}

.contenedor__video{
width: 60%;
min-width: 340px;
max-width: 720px;
margin-left: auto;
margin-right: auto;

}
.video{
height: 0;
padding-bottom: 56.25%;
position: relative;
}
.video iframe{
  position: absolute;
  width: 100%;
  height: 100%;
}
.responsive{
  width: 100%;
  margin: 5%;
  max-width: 1000px;
}
.contenido--pdf{
  display: flex;
  margin-bottom:20px;
  width: 100%;
  max-width: 1000px;
  align-content: center;
}
.centrando{
  justify-content: center;
}

.contenedor__alicante{
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}
.item__alicante{
  width: 32%;
  padding: 5px;
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item__alicante :nth-child(even){
  margin-top: 20px;
  margin-bottom: 10px;
}
.item__alicante img{
  width: 100%; 
}
@media screen and (max-width: 720px){
  .item__alicante{
    width: 90%;
    max-width: 500px;
  }

}
.tarjetero{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 60px;
  }
  .carta{
    width: 400px;
    height: 300px;
    margin: 40px;
  }
  .bloque1, .bloque2{
    width: 50%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
  @media screen and (max-width: 720px){
    .carta{
      width: 300px;
      /*height: 300px;*/
      margin: 20px 0;
    }
    .tarjetero{
      padding: 0;
      width: 100%;
    }
    .bloque1, .bloque2{
      width: 100%;
    }
    .arriba{
      max-height: 200px;
    }
  }
  @media screen and (max-width: 720px){
    .imagenesresponsive img{
      width: 100%;
    }
  }

  .separandotitulo{
    margin-top: 120px;
    margin-bottom: 30px;
  }

  .sugeridos--container{
    margin: 0 20px 30px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }

  .sugeridos--item{
    margin: 0 20px;
  }

  .avatar--item{
    width: 200px;
    height: 130px;
    margin: 10px 0;
    border-radius: 15px;
  }

  .texto--item{
    margin: 10px 0;
    color: #707070;
    font-weight: 600;
    text-align: center;
  }

  .avatar--item:hover{
    color: #FFB545;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  }

  .sugeridos--item:hover:after{
    content: "";
    display: block;
    position: relative;
    width: 120px;
    height: 2px;
    background-color: #FFB545;
    left: 50%;
    transform: translate(-50%);
  }
.proyectoui{
  width: 100%;
  max-width: 1000px;
}
.proyectoui img{
  max-width: 100%;
}

@media screen and (max-width: 720px){
  .resaltarimagen{
    box-shadow: 0 0px 0px gray;
  }
}

.nodestacar{
    border-bottom: none !important;
    color: gray !important;
    font-size: 12px !important;
  }
  .nodestacar:hover{
    border-bottom: 2px solid !important;
  }
