:root{
  --color-primario: #F8AD2D;
  --color-secundario: #707070;
  --blanco: white;
  --negro: #151515;
}
* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
font-family:"Open Sans",sans-serif;
font-weight: 300;
margin: 0;
}

a{
text-decoration: none;
color: var(--color-primario);}

a:active {
  transform: scale(0.9);
}

.topnav{
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
justify-content: space-between;
margin: 0;
align-items: center;
position: fixed;
top: 0;
background-color: white;
width: 100%;
box-shadow: 0px -12px 15px;
z-index: 15;
}

.topnav a{
color: #FFB545;
font-family: Montserrat;
font-weight: bold;
font-size: 14px;
margin: 10px 15px;
}

.topnav a:visited {
  color: #FFB545;
}

.topnav a:hover{
  color: #E08C0E;
}

.topnav a:active{
  transform: scale(.8);
}

.menuicon {
width:22px;
fill: white;
}

.menuicon:hover{
fill: rgba(255,255,255,.8);
}

.menuicon:active{
transform: scale(.5); 
}
.menu--icon--proyectos{ width:22px; fill: var(--color-primario); }
.menu--icon--proyectos:hover{ fill: #D58906; }
.menu--icon--proyectos:active{ transform: scale(0.8); }

.cuerpodetexto{
  font-family: Montserrat;
  font-size: 16px;
}

hr{
border: 1px solid #FFB545;
}

.contenedor-footer{
   display: flex;
   align-items: center;
   position: fixed;
   bottom: 10px;
   height: 50px;
}

.contenedor-footer a:hover{
  transform: scale(2);
  margin-left: 12px;
  margin-right: 12px;
}

.contenedor-footer-proyectos{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: var(--negro);
  fill: var(--negro);
}
.contenedor-footer-proyectos a:hover{
  transform: scale(2);
  margin-left: 12px;
  margin-right: 12px;
}
.contenedor-sm{
  display: flex;
  align-items: center;
}

.sm-icon{
  margin-right: 5px;
  width: 25px;
}

.contacto{
display:flex;}

.contacto a:hover{
padding-bottom: 3px;
border-bottom: 2px solid var(--blanco);
}

#abouttext {
	font-weight: normal;
	color: #707070;
	font-size: 15px;
}
.fotosabout{
width: 80%;
}

.fillgrey{
	fill: #707070;
	color:#707070;
}
.fillyellow{
	fill: #FFB545;
	color: #FFB545;
}

.contenedorabout{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.distancia{
  position: unset;
}
.container-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(350px,3fr));
  grid-row-gap: 20px;
  grid-column-gap:auto-fit;
  justify-items: center;
  margin-top: 5%;
  margin-bottom: 2%;
}
.tarjeta{
  height: 450px;
  width: 350px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  background-position: top right;
  transition: 2s background-position cubic-bezier(.22,.61,.36,1);
}

.tarjeta:hover {
  position: relative;
  top: -30px;
}
.arriba{
  width: 100%;
  height: 15vw;
  background-position: top right;
  transition: 2s background-position cubic-bezier(.22,.61,.36,1);
  max-height: 300px;
  border-radius: 20px;
}

.arriba:hover{
  cursor: pointer;
  /*box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);*/
  /*filter: sepia(.2);*/
  position: relative;
  top: -30px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}

.arriba:hover:after{
  /*content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #000;
  position: absolute;
  bottom: -20px;
  border-radius: 50%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  opacity: 0.5;*/
}
.abajo{
  width: 100%;
  height: 50px;
  color: #616161;
  font-size: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin: 15px 0;
  text-align: center;
}
.abajo:hover{
  border: 2px solid;
  border-radius: 5px;
}

#gaydarui{
  background-image: url(recursos/thumbnailgaydarui.jpg);
  background-size: cover;
}
#abbeautyui{
  background-image: url(recursos/abthumbnail.jpg);
  background-size: cover;
}
#zombeepui{
  background-image: url(recursos/thumbnailzombeep.jpg);
  background-size: cover;
}
#eduidaui{
  background-image: url(recursos/thumbnaileduida.jpg);
  background-size: cover;
}
#gaydarvideo{
  background-image: url(recursos/thumbnailgaydarad.jpg);
  background-size: cover;
}
#homeorchestravideo{
  background-image: url(recursos/thumbnailho.jpg);
  background-size: cover;
}
#motionsocialmediavideo{
  background-image: url(recursos/thumbnailmgsm.jpg);
  background-size: cover;
}
#smadsvideo{
  background-image: url(recursos/thumbnailvideossm.jpg);
  background-size: cover;
}
#christmasoutrovideo{
  background-image: url(recursos/thumbnailsanta.jpg);
  background-size: cover;
}
#lovespiritvideo{
  background-image: url(recursos/thumbnaillovespirit.jpg);
  background-size: cover;
}
#nothingspecialad{
  background-image: url(recursos/thumbnailnothingspecial.jpg);
  background-size: cover;
}
#cuatrovientosad{
  background-image: url(recursos/thumbnail4vientos.jpg);
  background-size: cover;
}
#nueveoctubread{
  background-image: url(recursos/thumbnail9octubre.jpg);
  background-size: cover;
}
#robots{
  background-image: url(recursos/thumbnailrobots.jpg);
  background-size: cover;
}
#spainpunk{
  background-image: url(recursos/thumbnailspainpunk.jpg);
  background-size: cover;
}
#uniimposibles{
  background-image: url(recursos/thumbnailuniimposible.jpg);
  background-size: cover;
}
#hotmalelogo{
  background-image: url(recursos/thumbnailhotmale.jpg);
  background-size: cover;
}
#gspotlogo{
  background-image: url(recursos/Thumbnailgspot.jpg);
  background-size: cover;
}
#gaydarhotspotlogo{
  background-image: url(recursos/Thumbnailgaydarhotspot.jpg);
  background-size: cover;
}
#pabloeliceslogo{
  background-image: url(recursos/thumbnailpabloelices.jpg);
  background-size: cover;
}
#catedravectalialogo{
  background-image: url(recursos/thumbnailcatedra.jpg);
  background-size: cover;
}
#alicanteprint{
  background-image: url(recursos/thumbnailalicanteprints.jpg);
  background-size: cover;
}
#recetasprint{
  background-image: url(recursos/thumbnailrecetas.jpg);
  background-size: cover;
}
#popupbookprint{
  background-image: url(recursos/thumbnailbook.jpg);
  background-size: cover;
}
#vinoprint{
  background-image: url(recursos/thumbnailbotellas.jpg);
  background-size: cover;
}
#cdprint{
  background-image: url(recursos/thumbnailcd.jpg);
  background-size: cover;
}

.sectiontitle{
  text-align: center;
  margin-top: 5%;
  font-size: 24px;
  font-weight: bold;
}
.contenedorproyecto{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: justify;
  margin-bottom: 50px;
  font-family: Montserrat;
  font-weight: 400;
  font-optical-sizing: 1px;
  line-height: 1.6;
}
.contenidoproyecto{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: auto;
}

.videoproyecto{
  display: flex;
  width: 80%;
  justify-content: center;
  flex-wrap: wrap;
}
.videoproyecto img{
  margin: 5px;
}
@media screen and (min-width: 720px){
  .videoproyecto img{
    width: 400px;
}

}
.resaltarimagen{
  box-shadow: 0 5px 15px gray;
}
.contenidoproyecto2{
  display: flex;
  width: 80%;
  justify-content: center;
  flex-wrap: wrap;
}
.lunares{
  background: url(recursos/lunaresfondo.png);
  position: absolute;
  z-index: -5;
  opacity: 30%;
  width: 400px;
  height: 400px;
  background-size: 80%;
  background-repeat: no-repeat;
  top: 120%;
  right: 15%;
}

h4{
  font-weight: bold;
  font-size: 14px;
  color: #808080a8;
}
.topnav h4 a{
  font-weight: 500;
font-size: 14px;
padding-bottom: 3px;
border-bottom: 2px solid;
}

.contenedor__video{
width: 60%;
min-width: 340px;
max-width: 720px;
margin-left: auto;
margin-right: auto;

}
.video{
height: 0;
padding-bottom: 56.25%;
position: relative;
}
.video iframe{
  position: absolute;
  width: 100%;
  height: 100%;
}
.responsive{
  width: 100%;
  margin: 5%;
  max-width: 1000px;
}
.contenido--pdf{
  display: flex;
  margin-bottom:20px;
  width: 100%;
  max-width: 1000px;
  align-content: center;
}
.centrando{
  justify-content: center;
}

.contenedor__alicante{
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}
.item__alicante{
  width: 32%;
  padding: 5px;
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item__alicante :nth-child(even){
  margin-top: 20px;
  margin-bottom: 10px;
}
.item__alicante img{
  width: 100%; 
}
@media screen and (max-width: 720px){
  .item__alicante{
    width: 90%;
    max-width: 500px;
  }

}
.tarjetero{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15vh;
  }
  .carta{
    width: 20vw;
  }
  .bloque1, .bloque2{
    width: 50%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
  .bloque3{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  @media screen and (max-width: 720px){
    .carta{
      width: 300px;
      /*height: 300px;*/
      margin: 20px 0;
    }
    .tarjetero{
      padding: 0;
      width: 100%;
    }
    .bloque1, .bloque2{
      width: 100%;
    }
    .arriba{
      max-height: 200px;
    }
  }
  @media screen and (max-width: 720px){
    .imagenesresponsive img{
      width: 100%;
    }
  }

  .separandotitulo{
    margin-top: 120px;
    margin-bottom: 30px;
  }

.sugeridos--titulo{
  margin: 50px 0 20px 0;
  text-align: center;
}
  .sugeridos--container{
    margin: 0 20px 30px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }

  .sugeridos--item{
    margin: 0 20px;
  }

  .avatar--item{
    width: 200px;
    height: 130px;
    margin: 10px 0;
    border-radius: 15px;
  }

  .texto--item{
    margin: 10px 0;
    color: #707070;
    font-weight: 600;
    text-align: center;
  }

  .avatar--item:hover{
    color: #FFB545;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  }

  .sugeridos--item:hover:after{
    content: "";
    display: block;
    position: relative;
    width: 120px;
    height: 2px;
    background-color: #FFB545;
    left: 50%;
    transform: translate(-50%);
  }
.proyectoui{
  width: 100%;
  max-width: 1000px;
}
.proyectoui img{
  max-width: 100%;
}

@media screen and (max-width: 720px){
  .resaltarimagen{
    box-shadow: 0 0px 0px gray;
  }
}

.nodestacar{
    border-bottom: none !important;
    color: gray !important;
    font-size: 12px !important;
  }
  .nodestacar:hover{
    border-bottom: 2px solid !important;
  }
/* codigo nuevo */
.contenedor-principal{
width: 100%;
display: flex;
flex-wrap: wrap;
}
.caja-izquierda{
width: 65%;
background-color: white;
display: flex;
justify-content: center;
}
.caja-derecha{
width: 35%;
background-color: var(--color-primario);
display: flex;
flex-wrap: wrap;
justify-content: center;
align-content: center;
}
.caja-derecha-texto{
font-family: Montserrat;
font-weight: bolder;
color: var(--negro);
width: 310px;
text-align: justify;
margin-top: 30px;
}
.centrado-fijo{
position: fixed;
top: 50vh;
transform: translate(0,-50%);
font-size: 20px;
}
.centrado-fijo h1{
text-align: center;
font-family: Montserrat;
position: relative;
z-index: 10;
font-size: 36px;
line-height: 1.2;
}
.texto-semitransparente{
font-size: 50px;
color: rgba(255,255,255,.3);
font-family: Montserrat;
font-weight: bold;
width: 400px;
text-align: center;
position: absolute;
top: -20px;
left: -48px;
line-height: 1.2;
}

.conjunto-enlaces{
display: flex;
font-family: Montserrat;
font-weight: bold;
font-size: 30px;
text-align: center;
align-items: center;
}
.conjunto-enlaces li{
list-style: none;
 margin: 24px 0;
}

.conjunto-enlaces a {
display: inline;
}
.conjunto-enlaces a:hover {
font-size: 44px;
}
.conjunto-enlaces a:active{
font-size: 24px;
}
.conjunto-enlaces ul{ padding: 0; }
.blanquear{ fill: white; color: white;}
.ennegrecer{ fill: var(--negro); color: var(--negro); }

.caja-izda-home{
width: 50%;
background-color: var(--color-primario);
height: 100vh;
max-height: 1200px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-content: center;
}

.caja-izda-home p{
font-family: Montserrat;
font-size: 18px;
font-weight: bolder;
width: 50%;
text-align: justify;
color: var(--negro);
margin: 20px;
display: inline;
 }

.caja-izda-home img{
width: 250px;
margin: 0 50px 20px 50px;
}

.caja-dta-home{
width: 50%;
background-color: white;
height: 100vh;
max-height: 1200px;
display: flex;
justify-content: center;
}
.fullheight{
  height: 100vh;
}
a span{
  color: var(--blanco);
  font-weight: bold;
  padding-bottom: 3px;
  border-bottom: 4px solid var(--blanco);
}
.cuerpodetexto p{margin-top: 15px}
.cuerpodetexto h3{margin-top: 15px}

#menuextensible{
   position: absolute;
  background: black;
  top: 30px;
  right: -220px;
  /*width: 30%;
  height: 50vh;
  position: absolute;
  top: 40px;
  right: 0;*/

}

.enlaces-menu-extensible{
  display: flex;
  justify-content: right;
}
.enlaces-menu-extensible li{
  list-style: none;
  margin: 24px 0;
  display: flex;
  background: var(--negro);
  justify-content: right;
  padding-right: 20px;

}
.tuenti{
  position: absolute;
  background: black;
  left: 70%;
  z-index: 10;
  height: 100%;
  width: 30%;
  box-shadow: 0px 0 10px rgba(0,0,0,.7);

}
.tuenti ul{
  margin-top: 100px;
}
.tuenti li{
  list-style: none;
  margin: 24px 0;
  display: flex;
  background: var(--negro);
  justify-content: right;
  text-align: right;
  padding: 1vh 2vw 1vh;
  font-family: montserrat;
  font-size: 24px;
}
.menu-proyecto li{
  list-style: none;
  margin: 24px 0;
  display: flex;
  background: var(--negro);
  justify-content: center;
  text-align: center;
  padding: 1vh 2vw 1vh;
  font-family: montserrat;
  font-size: 24px;
}
.tuenti li:hover, .menu-proyecto li:hover{ font-size: 30px; box-shadow: 0px 0px 2px rgba(255,255,255,.3); }

.esconder{
  left: 100%;
  display: none;
}
#lanzadormenu{
  position: relative;
  z-index: 20;
  top: 20px;
  right: 1vw;
}
.menu-proyecto{
  position: absolute;
  z-index: 20;
  top: 0px;
  right: 0px;
  width: 20%;
  height: 100%;
  background: black;
  box-shadow: -5px 0px 10px rgba(0,0,0,.5);
}
.menu-header{
  display: flex;
  color: white;
  justify-content: space-between;
  margin: 20px;
}
.menu-header img{ width: 20px; }

/*Responsive Home & Index Pages*/
    .marcoarriba{
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: -10;
      width: 550px;
    }
    .contenedortexto--about{
      display: flex;
      flex-wrap: wrap;
      width: 50%;
      justify-content: center;
      margin: 15vh auto 2vh;
      text-align: justify;
      font-family: Montserrat;
      font-weight: normal;
    }
    .contenedortexto--about p{
      font-size: 18px;
      width: 85%;
      margin-bottom: 0;
      text-align: justify;
    }
    .contenedortexto--about ol{
      width: 85%;
      margin: 50px 20px 0 0;
      text-align: justify;
    }
    ol span {
  font-weight: 600;
  background-color: #FFB545;
}
    .contenedorgeneral--about{display: flex;width: 100%;}
    .footer--about{width: 100%; display: flex; justify-content: space-between; align-items: baseline;}
    .footer--about div{
      max-width: 45%;
    }
    .h1--about{
    font-size: 50px;
      text-align: right;
      font-family: Montserrat;
      font-weight: 900;
      color: #8BB7F8;
      line-height: 62px;
      position: fixed;
      z-index: 12;
      top: 48%;
      left: 15px;
      transform: rotate(-90deg);
  }
/*Responsive Home & Index Pages*/
@media screen and (max-width: 720px){

  .contenedor-principal {
  height: 100vh;
  }
  .caja-izda-home {
  width: 100vw;
  background-color: var(--color-primario);
  height: 50%;
  }
.caja-dta-home {
  width: 100vw;
  background-color: white;
  height: 50%;
  }
.caja-izda-home p {
  font-size: 16px;
  font-weight: bolder;
  width: 80%;
  text-align: justify;
  color: var(--negro);
  margin: 15px;
  display: inline;
  }
.caja-izda-home img {
  width: 150px;
  margin: 0 auto 10px;
  }
.conjunto-enlaces {
  font-size: 24px;
  }
}
/*Responsive Portfolio Sections Pages*/

@media screen and (max-width: 1020px){
  .caja-izquierda {
  width: 100vw;
  height: 70%;
  background-color: white;
  display: flex;
  justify-content: center;
  margin-top: 30%;
  }
  .caja-derecha {
  width: 100vw;
  height: 30%;
  justify-content: center;
  align-content: center;
  position: fixed;
  top: 0;
  }
  .centrado-fijo {
    top: 15vh;
    transform: translate(0,-50%);
    font-size: 16px;
  }
  .centrado-fijo h1 {
    font-size: 24px;
  }
  .texto-semitransparente {
    font-size: 40px;
    top: -15px;
    left: -48px;
  }
  .arriba {
  height: 200px;
  }
  .contenedor-footer {
  bottom: 0;
  }
  .bloque3{
    flex-wrap: wrap;
  }
  .tuenti {
  left: 20%;
  height: 100%;
  width: 80%;
  }
  .menu-proyecto {
  right: 0px;
  width: 80%;
  }
}
/*Responsive Home & Index Pages*/
@media screen and (max-width: 720px){
  .marcoarriba {
  position: absolute;
  /* top: 0px; */
  /* right: 20px; */
  z-index: -10;
  width: 100%;
}
.marcoarriba img{
  width: 100%;
}
.contenedortexto--about {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  /* justify-content: start; */
  margin: 30vh 15px 2vh;
  text-align: justify;
  font-family: Montserrat;
  font-weight: 300;
}
.contenedortexto--about p {
  font-size: 18px;
  width: 100%;
  margin-bottom: 0;
  text-align: justify;
}
.h1--about {
  font-size: 20px;
  text-align: left;
  font-family: Montserrat;
  font-weight: 900;
  color: #F8AD2D;
  line-height: 40px;
  position: absolute;
  z-index: 12;
  top: 15%;
  /* left: 15px; */
  transform: rotate(0deg);
}
}